/** Desktop  */

/** Animation */

@keyframes animate-background {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes animate-button {
  0% {
    background-position: 0% 50%;
  }
  70% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  90% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/** Header  */

.header {
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}
.header.scrolled {
  background: var(--color-dark-4);
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 6px var(--color-dark);
}

.header-container {
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.logo img {
  padding-top: 2px;
  max-width: 42px;
  min-width: 42px;
  max-height: 40px;
  min-height: 40px;
  object-fit: contain;
  filter: grayscale(1);
}

.nav-links {
  display: flex;
  gap: 28px;
}
.nav-links a {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light-4);
  transition: color 0.3s ease-in-out;
}
.nav-links a svg {
  margin-right: 6px;
  margin-bottom: -4px;
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
}
.nav-links a.active {
  color: var(--color-light);
}
.nav-links a.active svg {
  fill: var(--color-light-5);
}
.nav-links a:hover {
  color: var(--color-light);
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-ghost {
  color: var(--color-light);
}
.btn-ghost:hover {
  background: var(--color-dark-2);
}

.btn-primary {
  color: var(--color-light);
  background: var(--color-dark);
}
.btn-primary:hover {
  background: var(--color-dark-2);
}

/** Hero */

.hero {
  padding: 124px 48px;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 28px;
  overflow-x: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  top: -30%;
  right: -30%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, var(--color-light-5) 0%, transparent 40%);
  opacity: 0;
  pointer-events: none;
  animation: animate-background 6s ease-in-out infinite;
}

.hero-content {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.hero-subtitle {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light-4);
  text-transform: uppercase;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.highlight {
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--color-dark-4),
    transparent,
    transparent
  );
}

.hero-description {
  margin: 24px 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-light);
}
.hero-description span {
  font-size: 14px;
  color: var(--color-light-4);
}

.hero-button {
  padding: 8px 16px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  background: var(--color-light);
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.hero-button:hover {
  background: var(--color-light-2);
}
.hero-button:hover::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent,
    transparent,
    var(--color-dark-4),
    var(--color-light-2)
  );
  background-size: 300% 300%;
  border-radius: 8px;
  animation: animate-button 2s ease-in-out infinite;
  inset: -2px;
  z-index: -1;
}
