/** Desktop  */

/** Animation */

@keyframes animate-lamp-background {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes animate-title-highlight {
  0%,
  100% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-dark-4),
      transparent,
      transparent
    );
  }
  41.99% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-light-3),
      transparent,
      transparent
    );
  }
  42% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-dark-3),
      transparent,
      transparent
    );
    opacity: 1;
  }
  43% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-dark-4),
      transparent,
      transparent
    );
    opacity: 0.7;
  }
  43.01% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-light-3),
      transparent,
      transparent
    );
    opacity: 0.7;
  }
  47.99% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-light-2),
      transparent,
      transparent
    );
    opacity: 1;
  }
  48% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-dark-3),
      transparent,
      transparent
    );
  }
  49% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-dark-4),
      transparent,
      transparent
    );
  }
  49.01% {
    background: linear-gradient(
      to right,
      transparent,
      var(--color-light),
      transparent,
      transparent
    );
  }
}

@keyframes animate-cta-button {
  0% {
    background-position: 0% 50%;
  }
  70% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  90% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate-logo-slider {
  0% {
    transform: translateX(0);
  }
  2% {
    transform: translateX(0);
  }
  96% {
    transform: translateX(-200%);
  }
  98% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animate-app-button {
  0% {
    color: var(--color-light-4);
  }
  25% {
    color: var(--color-light-4);
  }
  75% {
    color: var(--color-light);
  }
  100% {
    color: var(--color-light-4);
  }
}

@keyframes animate-banner-overlay-text {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  50% {
    opacity: 0;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/** Header  */

.header {
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}
.header.scrolled {
  background: var(--color-dark-4);
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 6px var(--color-dark);
}

.header-container {
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.logo img {
  padding-top: 2px;
  max-width: 42px;
  min-width: 42px;
  max-height: 40px;
  min-height: 40px;
  object-fit: contain;
  filter: grayscale(1);
}

.nav-links {
  display: flex;
  gap: 28px;
}
.nav-links a {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light-4);
  transition: color 0.3s ease-in-out;
}
.nav-links a svg {
  margin-right: 6px;
  margin-bottom: -4px;
  max-width: 18px;
  min-width: 18px;
  max-height: 18px;
  min-height: 18px;
}
.nav-links a.active {
  color: var(--color-light);
}
.nav-links a.active svg {
  fill: var(--color-light-5);
}
.nav-links a:hover {
  color: var(--color-light);
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-ghost {
  color: var(--color-light);
}
.btn-ghost:hover {
  background: var(--color-dark-2);
}

.btn-primary {
  color: var(--color-light);
  background: var(--color-dark);
}
.btn-primary:hover {
  background: var(--color-dark-2);
}

/** Hero */

.hero {
  padding: 124px 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 48px;
  overflow-x: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  top: -30%;
  right: -30%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, var(--color-light-5) 0%, transparent 40%);
  opacity: 0;
  pointer-events: none;
  animation: animate-lamp-background 6s ease-in-out infinite;
}

.hero-content {
  width: 100%;
  max-width: 680px;
  min-width: 260px;
  text-align: left;
  cursor: default;
}
.hero-content:hover .highlight {
  animation: animate-title-highlight 1s ease infinite;
}

.hero-subtitle {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light-4);
  text-transform: uppercase;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  opacity: 1;
}

.highlight {
  font-weight: 800;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-dark-4),
    transparent,
    transparent
  );
}

.hero-description {
  margin: 24px 0;
  width: 100%;
  max-width: 420px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  color: var(--color-light);
}
.hero-description span {
  font-size: 14px;
  color: var(--color-light-4);
}

.hero-button {
  padding: 8px 16px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  background: var(--color-light);
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.hero-button:hover {
  background: var(--color-light-2);
}
.hero-button:hover::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent,
    transparent,
    var(--color-dark-4),
    var(--color-light-2)
  );
  background-size: 300% 300%;
  border-radius: 8px;
  animation: animate-cta-button 2s ease-in-out infinite;
  inset: -2px;
  z-index: -1;
}

.partner-info {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.partner-logo {
  margin-right: 4px;
  width: 13px;
  height: 13px;
  filter: grayscale(1);
}

.partner-name {
  font-size: 12px;
  font-weight: 700;
}

.partner-logos {
  margin-top: 20px;
}

.logo-slider {
  position: relative;
  width: 100%;
  max-width: 420px;
  white-space: nowrap;
  overflow: hidden;
}
.logo-slider:hover .logo-track {
  filter: unset;
}

.logo-track {
  display: flex;
  gap: 2rem;
  filter: grayscale(1);
  transition: all 0.9s ease-in-out;
  animation: animate-logo-slider 30s linear infinite;
}

.logo-item {
  height: 36px;
  flex-shrink: 0;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.hero-image-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    transparent,
    transparent,
    transparent,
    transparent,
    var(--color-dark-4),
    var(--color-dark-2)
  );
  pointer-events: none;
}
.hero-image-container:hover .hero-image {
  filter: grayscale(1) contrast(0.7);
}
.hero-image-container:hover .overlay-button svg {
  animation: animate-app-button 1s ease-in-out infinite;
}
.hero-image-container:hover .overlay-text.description {
  display: block;
  animation: animate-banner-overlay-text 0.4s linear;
}
.hero-image-container:hover .overlay-text.developer {
  display: none;
}

.hero-image {
  width: 100%;
  max-height: 520px;
  min-height: 520px;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}
.hero-image.scaled {
  transform: scale(1.05);
}

.hero-overlay-card {
  padding: 15px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: linear-gradient(
    to right,
    var(--color-dark-1),
    var(--color-dark-2)
  );
  border-radius: 8px;
  box-shadow: 0px 4px 6px var(--color-dark-4);
  cursor: default;
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.overlay-title {
  margin-right: 16px;
  font-size: 14px;
  font-weight: 800;
}
.overlay-title span {
  margin-left: 2px;
  font-size: 12px;
  color: var(--color-blue-light);
}

.overlay-text {
  margin-top: 8px;
  margin-right: 16px;
  font-size: 12px;
  color: var(--color-light-3);
}
.overlay-text.description {
  display: none;
}
.overlay-text.developer {
  display: block;
  animation: animate-banner-overlay-text 0.4s linear;
}

.overlay-logo {
  width: 20px;
  height: 20px;
}

.overlay-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay-year {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-light);
}

.overlay-button {
  cursor: pointer;
}
.overlay-button svg {
  margin-bottom: -5px;
  max-width: 21px;
  min-width: 21px;
  max-height: 21px;
  min-height: 21px;
  color: var(--color-light-4);
}
.overlay-button:hover svg {
  color: var(--color-light) !important;
}
