@media (width <= 1024px) {
  /* Tablet  */

  /* Components  */

  /** Hero */

  .hero-content {
    max-width: 560px;
  }

  .hero-description,
  .logo-slider {
    max-width: 380px;
  }
}

@media (width <= 768px) {
  /* Mobile  */

  /* Components  */

  /** Header */

  .header {
    padding: 16px;
  }

  .header-container {
    margin: 0 auto;
    padding: 0 16px;
  }

  .nav {
    gap: 24px;
  }

  .logo img {
    max-width: 38px;
    min-width: 38px;
    max-height: 36px;
    min-height: 36px;
  }

  .nav-links {
    gap: 20px;
  }
  .nav-links a {
    font-size: 12px;
  }
  .nav-links span {
    display: none;
  }

  .auth-buttons {
    gap: 8px;
  }

  .btn {
    padding: 6px 14px;
    font-size: 12px;
  }

  /** Hero  */

  .hero {
    padding: 124px 28px;
    flex-direction: column;
    align-items: normal;
    gap: 60px;
  }
  .hero::after {
    height: 70%;
    background: radial-gradient(
      circle,
      var(--color-light-5) 0%,
      transparent 30%
    );
  }

  .hero-title {
    max-width: 540px;
  }

  .hero-description {
    max-width: 420px;
  }

  .hero-content,
  .logo-slider {
    max-width: unset;
  }

  .hero-image.scaled {
    transform: unset;
  }

  /** Service  */

  .service-section {
    padding: 0 28px 32px 28px;
  }

  .service-subtitle {
    position: static;
    top: unset;
    right: unset;
  }
}
