:root {
  --color-primary: #0377b980;
  --color-primary-light: #0377b9;
  --color-text: #f0f0f8;
  --color-text-dark: #000000;
  --color-background-light: #f0f0f8;
  --color-background-100: #171717;
  --color-background-500: #0a0a0a;
  --color-background-900: #252525;
  --color-red: #d372b8;
  --color-red-dark: #aa3d8b;
  --color-orange: #fcbe14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, Arial;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

.body-transition {
  animation: change 180s infinite 8s;
}

@keyframes change {
  0% {
    background-color: var(--color-background-900);
  }
  50% {
    background-image: linear-gradient(
      var(--color-background-900),
      var(--color-background-900),
      var(--color-background-900),
      var(--color-background-light),
      var(--color-background-light)
    );
  }
  100% {
    background-color: var(--color-background-900);
  }
}

/* Load */

.loading-page {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #17171700, #000000),
    url("../Detective Conan Case Closed Brick Background.webp");
  background-position: center;
  filter: grayscale(1) contrast(0.7);
  z-index: 1000;
  animation: show 4.25s ease;
}

.loading-page h1 {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  width: 100vw;
  height: 100vh;
  color: var(--color-text);
  font-family: sans-serif, Arial;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 3px;
  opacity: 0;
  z-index: 3;
  animation: show 5.5s ease;
}

.loading-page h1::before {
  content: "⚠️ UNDER DEVELOPMENT";
  filter: grayscale(1);
  animation: show 5.5s ease, lamp 1s ease 1.5s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  2.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Background */

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.clouds {
  width: 100%;
  height: 100%;
  background: transparent url("../Clouds.webp");
  position: fixed;
  opacity: 0;
  animation: move 25s ease-in-out infinite;
}

.clouds img {
  height: 100vh;
  width: 100vh;
  position: absolute;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.background-audio {
  display: none;
}

.connection,
.informations,
.transitions,
.animations,
.music {
  position: fixed;
  bottom: 3.35rem;
  left: 0;
  z-index: 1000;
}

.connection {
  bottom: 23.35rem;
}

.informations {
  bottom: 18.35rem;
}

.transitions {
  bottom: 13.35rem;
}

.animations {
  bottom: 8.35rem;
}

.connection .container,
.informations .container,
.transitions .container,
.animations .container,
.music .container {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.1rem;
  box-shadow: -2rem 0 3rem var(--color-background-500);
  background-color: var(--color-background-100);
  border-radius: 0 1rem 1rem 0;
}

.connection .container button,
.informations .container button,
.about .about-container button,
.transitions .container button,
.animations .container button,
.music .container button {
  margin: auto;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-background-light);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px var(--color-background-900);
  background: #17171797;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.25rem);
  z-index: 999;
}

.about-container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-areas:
    "logo anime-app-version anime-app-version anime-app-version"
    "title license rights privacy-policy"
    "trademarks trademarks trademarks trademarks";
  gap: 3rem;
  padding: 4rem;
  width: 94rem;
  max-width: 80vw;
  max-height: 80vh;
  color: var(--color-background-light);
  font-size: 1.3rem;
  text-align: center;
  background-color: var(--color-background-100);
  border-bottom: 2.5rem solid var(--color-background-100);
  border-radius: 1rem;
  overflow: auto;
  scrollbar-color: var(--color-orange) transparent;
  cursor: default;
}

.about-container button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.about-container h1 {
  padding: 1rem 0;
  font-size: 2.85rem;
}

.about-container h4,
.about-container h5,
.about-container p {
  padding: 0.5rem 0;
}

.about-container a {
  color: var(--color-background-light);
  text-decoration: none;
}

.about-container a:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.about-container .logo {
  grid-area: logo;
  width: 20rem;
  margin: auto;
  opacity: 0.05;
  filter: grayscale(1) brightness(0.75) contrast(2.75);
}

.about-container .anime-app-version {
  grid-area: anime-app-version;
  padding: 1rem;
  text-align: justify;
}

.about-container .title {
  grid-area: title;
}

.about-container .license {
  grid-area: license;
}

.about-container .rights {
  grid-area: rights;
}

.about-container .privacy-policy {
  grid-area: privacy-policy;
}

.about-container .trademarks {
  grid-area: trademarks;
  color: var(--color-red);
}

/* NavBar */

.nav-bar {
  margin: auto;
  max-width: 94rem;
  padding: 1rem 3.2rem;
}

.nav-bar .logo {
  background-color: var(--color-primary-light);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 2rem;
  cursor: default;
}

.nav-bar .logo span {
  font-size: 3rem;
  padding: 0 1rem;
  transform: scale(0.65);
}

.nav-bar .logo h1 {
  font-family: sans-serif, Arial;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-background-light);
  animation: lamp 1s ease infinite;
}

.nav-bar .logo h1 span {
  padding: 0;
  font-family: sans-serif, Arial;
  font-size: 3.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-red);
}

.nav-bar .logo:hover h1 {
  animation: none;
}

@keyframes lamp {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 -2px 5px var(--color-background-light);
  }
  100% {
    text-shadow: none;
  }
}

.nav-bar .container {
  display: flex;
  justify-content: center;
  height: 2.6rem;
}

.nav-bar .toggle-div {
  background-color: var(--color-background-light);
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
  width: 42rem;
  max-width: 60vw;
  min-width: max-content;
}

.nav-bar .hamburger-menu {
  position: fixed;
  top: 3.35rem;
  left: 0;
  z-index: 1000;
}

.nav-bar .hamburger-menu .container {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.1rem;
  margin-bottom: 0.6rem;
  box-shadow: -2rem 0 3rem var(--color-background-500);
  background-color: var(--color-background-100);
  border-radius: 0 1rem 1rem 0;
}

.nav-bar .hamburger-menu .container .button-parrent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--color-background-light);
  cursor: pointer;
}

.nav-bar .hamburger-menu .container .button-child {
  display: block;
  margin: auto;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-background-light);
  font-size: 1.4rem;
  font-weight: bolder;
}

.nav-bar .hamburger-menu .container .button-child a {
  color: var(--color-background-light);
  text-decoration: none;
}

.nav-bar .arrow {
  margin-top: 0.2rem;
  font-size: 1.55rem;
  color: var(--color-red);
  cursor: pointer;
}

.nav-bar .links {
  display: block;
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  margin-top: 0.5rem;
  cursor: default;
}

.nav-bar .links li {
  list-style: none;
  display: inline;
}

.nav-bar .links a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-bar .arrow:hover,
.nav-bar .links a:hover {
  color: var(--color-background-100);
}

.nav-bar .search-icon {
  position: relative;
  display: block;
  margin: auto;
  width: 42rem;
  max-width: 85vw;
}

.nav-bar .search-icon img {
  position: absolute;
  top: -10.8rem;
  left: 50%;
  transform: translateX(-50%);
  height: 4.5rem;
  filter: brightness(0.25) contrast(0.85) grayscale(1);
  z-index: 2;
}

.nav-bar .search-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar .search-container input {
  font-family: sans-serif, Arial;
}

.nav-bar .search-kanji {
  position: absolute;
  top: 24.5rem;
  padding: 0;
  transform: scale(3);
  opacity: 0;
  z-index: 1000;
  animation: kanji 1s ease infinite;
}

.nav-bar .search-kanji h6 {
  margin: -0.325rem 0;
  color: var(--color-background-500);
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  text-shadow: 0 0 10px var(--color-background-light);
  cursor: default;
}

@keyframes kanji {
  0% {
    opacity: 0.85;
    transform: scale(3);
  }
  40% {
    opacity: 0.25;
    transform: scale(9);
  }
  60% {
    opacity: 0.1;
    transform: scale(9);
  }
  80% {
    opacity: 0.05;
    transform: scale(9);
  }
  100% {
    opacity: 0;
    transform: scale(9);
  }
}

.nav-bar .search {
  justify-self: center;
  border: none;
  margin-bottom: 1.5rem;
  padding: 1.1rem 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  width: 42rem;
  max-width: 80vw;
  transition: all 0.3s;
  color: var(--color-background-light);
  background-color: var(--color-primary-light);
  animation: blink 1s ease infinite;
}

.nav-bar .search-label {
  position: fixed;
  top: 3.35rem;
  right: 0;
  z-index: 1000;
}

.nav-bar .search-label .container {
  width: 4.4rem;
  height: 4.4rem;
  padding: 0.9rem 0.9rem 1.1rem 1.1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2rem 0 3rem var(--color-background-500);
  background-color: var(--color-background-100);
  border-radius: 1rem 0 0 1rem;
}

.nav-bar .search-label .container span {
  color: var(--color-background-light);
  font-size: 2.85rem;
  font-weight: bolder;
  cursor: pointer;
}

.nav-bar .search::placeholder {
  color: var(--color-text);
  filter: brightness(80%);
  font-size: 1.4rem;
}

.nav-bar .search:focus {
  outline: none;
  animation: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px) scaleX(0.975);
}

.nav-bar .search-btn {
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-background-light);
  color: var(--color-red);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-bar .search-btn:hover {
  color: var(--color-background-100);
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.search-results {
  width: 35rem;
  max-width: 80vw;
  margin-top: 4rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  background-color: #17171750;
  color: var(--color-background-light);
  font-size: 1.5rem;
  text-align: justify;
}

.search-results span {
  color: var(--color-orange);
  font-weight: 900;
  animation: letter 1s ease infinite;
}

@keyframes letter {
  0% {
    letter-spacing: initial;
  }
  50% {
    letter-spacing: 0.5px;
  }
  100% {
    letter-spacing: initial;
  }
}

/* Aside */

.aside {
  width: 100%;
  height: 50rem;
  top: 108rem;
  position: absolute;
  text-shadow: 0 0 5px var(--color-background-900);
  background: #f0f0f825;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.25rem);
  z-index: 1;
}

.aside.left,
.aside.top-left,
.aside.bottom-left {
  border-radius: 0 1rem 1rem 0;
  max-width: 42rem;
  left: 0;
  z-index: 2;
}

.aside.right,
.aside.top-right,
.aside.bottom-right {
  border-radius: 1rem 0 0 1rem;
  max-width: 42rem;
  right: 0;
  z-index: 2;
}

.aside.top-left,
.aside.top-right {
  top: 18rem;
  height: 17.5rem;
}

.aside.bottom-left,
.aside.bottom-right {
  top: 278rem;
  height: 32rem;
}

.channels {
  width: 31rem;
  min-height: 12.4rem;
  max-height: 12.4rem;
  padding: 1.5rem;
  margin: 2.4rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1rem;
  background: #17171797;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.25rem);
  overflow: auto;
  scrollbar-color: var(--color-background-light) transparent;
}

.channels.stream {
  justify-content: flex-start;
}

.channels.tv {
  justify-content: flex-end;
}

.channels:hover img {
  filter: grayscale(1) contrast(1.1) blur(0);
}

.channels .frame {
  width: 3.9rem;
  height: 3.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channels.stream .frame {
  margin: 0.39rem 0.38rem;
}

.channels.tv .frame {
  margin: 0 0.38rem;
}

.channels img {
  width: 100%;
  filter: grayscale(1) contrast(1.1) blur(1px);
  opacity: 0.39;
  cursor: default;
}

.channels .frame:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.closing {
  margin: 0 -2.4rem;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -4;
}

.closing h6 {
  margin: -1.75rem 5.75rem;
  color: var(--color-text);
  font-family: "Times New Roman", Times, serif;
  font-size: 6.25rem;
}

.silhouette-off {
  top: 110rem;
  right: 1rem;
  position: absolute;
  filter: contrast(0.4) brightness(0.25);
  opacity: 0.8;
  z-index: -3;
}

.silhouette-on {
  animation: invert 180s infinite 6s;
}

@keyframes invert {
  0% {
    filter: contrast(0.4) brightness(0.25);
  }
  15% {
    filter: contrast(0.4) brightness(0.25);
  }
  20% {
    filter: contrast(0.4) brightness(1.25);
  }
  62.5% {
    filter: contrast(0.4) brightness(1.25);
  }
  67.5% {
    filter: contrast(0.4) brightness(0.25);
  }
  100% {
    filter: contrast(0.4) brightness(0.25);
  }
}

/* Main */

.main,
.main-legacy {
  max-height: 55rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.main .box,
.main-legacy .box {
  margin-top: 2.4rem;
  width: 42rem;
  max-width: 80vw;
  min-height: 6rem;
  max-height: 75rem;
  background-color: var(--color-background-100);
  border-bottom: 2.5rem solid var(--color-background-100);
  border-radius: 1rem;
  overflow: auto;
  scrollbar-color: var(--color-orange) transparent;
  position: relative;
}

.btn-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-background-light);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: hidden;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-900);
}

.list.list-anime li {
  color: var(--color-background-light);
  cursor: pointer;
  transition: none;
}

.list.list-anime li:hover {
  color: var(--color-primary-light);
}

.list.list-anime .selected {
  background-color: var(--color-background-500);
}

.list.list-anime p {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  background-color: var(--color-background-light);
  border-radius: 0.3rem;
  color: var(--color-red);
  font-weight: 600;
  font-size: 1rem;
}

.list.list-anime p:hover {
  background-color: var(--color-red);
  color: var(--color-background-light);
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  margin-left: -1rem;
  width: 150%;
  grid-row: 1 / -1;
}

.list h3 {
  margin-right: 2rem;
  font-size: 1.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.btn-delete {
  position: absolute;
  right: 2.4rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

.details {
  line-height: 1.4;
  font-size: 14px;
  cursor: default;
}

.details header {
  margin-right: 2rem;
  display: flex;
  font-size: 1.2rem;
  color: var(--color-red);
}

.details section {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  max-width: 150px;
  border-radius: 1rem 0;
}

.details p:nth-child(1) {
  color: var(--color-background-light);
  text-align: justify;
  font-size: 14px;
  padding-top: 3rem;
}

.details p:nth-child(1)::first-letter {
  float: left;
  font-size: 42px;
  line-height: normal;
  margin: 5px 15px 0 33px;
}

.details-overview {
  width: 100%;
  padding: 2rem 2.4rem;
  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.details-overview h2 {
  font-size: 2rem;
  line-height: 1.1;
}

.details-overview h2 a {
  color: var(--color-primary-light);
  text-decoration: none;
}

.details-overview h2 a:hover {
  color: var(--color-background-light);
}

.details-overview small {
  display: flex;
  color: var(--color-orange);
  font-size: 1.3rem;
  align-items: center;
  gap: 0.8rem;
}

.box-separator {
  display: block;
  margin: auto;
  width: 42rem;
  max-width: 80vw;
}

.choice,
.featured,
.choose,
.masterpiece,
.check,
.magazine {
  display: block;
  margin: 2.4rem auto -1rem;
  width: 42rem;
  max-width: 80vw;
  padding: 2rem 2.4rem;
  background-color: var(--color-background-100);
  border-radius: 1rem;
  color: var(--color-background-light);
  font-size: 1.2rem;
  text-align: center;
  cursor: default;
}

.masterpiece {
  margin: 10.2rem auto -1rem;
}

.love,
.winter,
.category,
.studio,
.genre-list {
  display: block;
  margin: 2rem auto;
  width: 42rem;
  max-width: 80vw;
  height: 50rem;
}

.winter {
  max-height: 40rem;
  margin: 2rem auto 8.5rem;
}

.category {
  margin: 2rem auto 16rem;
}

.studio {
  max-height: 40rem;
  margin: 2rem auto 23.5rem;
}

.genre-list {
  min-height: 38rem;
  max-height: 38rem;
}

.winter-all,
.category-all,
.studio-all,
.genre-all,
.news-all,
.tabloid-all {
  display: block;
  margin: -1rem auto 1rem;
  width: 42rem;
  max-width: 80vw;
  padding: 1.5rem;
  background-color: var(--color-background-100);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
}

.studio-all {
  margin: 1rem auto;
  max-height: 17rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--color-background-light) transparent;
  flex-wrap: wrap;
}

.check,
.magazine,
.genre-all,
.news-all,
.tabloid-all {
  margin: 2.4rem auto -1.4rem;
  width: 31rem;
  background: #17171797;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.genre-all,
.news-all,
.tabloid-all {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 38rem;
  flex-wrap: wrap;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}

.genre-all {
  max-height: 38rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--color-background-light) transparent;
  justify-content: flex-start;
}

.news-all {
  min-height: 20rem;
  max-height: 20rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--color-background-light) transparent;
}

.tabloid-all {
  min-height: 27.2rem;
  max-height: 27.2rem;
}

.tabloid-all .poster {
  width: 100%;
  border-radius: 1rem;
  background-image: url("../Anime.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  filter: grayscale(1) brightness(0.75) contrast(1.25) blur(1px);
  opacity: 0.39;
}

.tabloid-all:hover .poster {
  filter: grayscale(1) brightness(0.75) contrast(1.25) blur(0);
}

.tabloid-all .poster:hover {
  filter: grayscale(0) brightness(1) contrast(1) blur(0);
  opacity: 1;
}

.winter-all button,
.category-all button,
.studio-all button,
.genre-all button,
.news-all button {
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-background-light);
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.news-all button {
  padding: 1rem;
  font-size: 1.2rem;
}

.news-all li {
  list-style: none;
  font-weight: 600;
  color: var(--color-text);
  padding-bottom: 0.25rem;
  cursor: default;
}

.news-all a {
  text-decoration: none;
  color: var(--color-red);
  font-size: 1.2rem;
}

.news-all a:hover {
  color: var(--color-primary-light);
}

.winter-all button:hover,
.category-all button:hover,
.studio-all button:hover,
.genre-all button:hover {
  background-color: var(--color-red);
  color: var(--color-background-light);
}

.news-all button:hover {
  color: var(--color-background-900);
}

.winter-all .selected,
.category-all .selected,
.studio-all .selected,
.genre-all .selected {
  background-color: var(--color-red);
  color: var(--color-background-light);
}

.love-overview,
.winter-overview,
.category-overview,
.studio-overview,
.genre-list-overview {
  width: 100%;
  height: 100%;
  padding: 2rem 2.4rem;
  background-color: var(--color-background-100);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.winter-overview,
.studio-overview {
  padding: 2rem 2.4rem 0 2.4rem;
}

.genre-list-overview {
  width: 31rem;
  padding: 1.5rem;
  margin: 2.4rem auto -1.4rem;
  background: #17171797;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.25rem);
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-color: var(--color-background-light) transparent;
}

.love-overview button,
.category-overview button,
.genre-list-overview button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0;
  background-color: var(--color-background-light);
  color: var(--color-red);
  font-size: 1.5rem;
  cursor: pointer;
}

.love-overview button:hover,
.category-overview button:hover,
.genre-list-overview button:hover {
  color: var(--color-background-900);
}

.love-image,
.winter-image,
.category-image,
.studio-image,
.genre-list-image {
  min-height: 32rem;
  margin: 2rem auto 0;
  position: relative;
  overflow: hidden;
}

.winter-image,
.studio-image {
  margin: 0 auto;
}

.category-image {
  min-height: 39rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.genre-list-image {
  min-height: 22rem;
  margin: 1.5rem auto 0;
}

.winter-image small,
.category-image small,
.studio-image small,
.genre-list-image small {
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  color: var(--color-background-light);
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  opacity: 0;
}

.winter-image:hover small,
.studio-image:hover small,
.genre-list-image:hover small {
  left: 0%;
  animation: blink 1s ease infinite, spin 20s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.75);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.category-image:hover small {
  animation: blink 1s ease infinite;
}

.love-image img,
.winter-image img,
.category-image img,
.studio-image img,
.genre-list-image img {
  max-width: 100%;
  min-height: 32rem;
  max-height: 32rem;
  border-radius: 1rem;
  z-index: 3;
  position: relative;
}

.love-image img:hover {
  animation: hide 1s infinite;
}

@keyframes hide {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

.genre-list-image img {
  max-width: 100%;
  min-height: 22rem;
  max-height: 22rem;
}

.winter-image img:hover,
.category-image img:hover,
.studio-image img:hover,
.genre-list-image img:hover {
  opacity: 0.35;
}

.love-image canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 98.5%;
  padding: 0.3rem 0.5rem;
  pointer-events: none;
  opacity: 0.85;
  z-index: 2;
}

.love-overview p,
.winter-overview p,
.category-overview p,
.studio-overview p,
.genre-list-overview p {
  margin: auto;
  font-family: sans-serif, Arial;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-red);
  cursor: pointer;
}

.love-overview p {
  color: var(--color-primary-light);
}

.love-overview p:hover {
  color: var(--color-background-light);
}

.category-overview p,
.genre-list-overview p {
  color: var(--color-background-light);
}

.category-overview p:hover,
.genre-list-overview p:hover {
  color: var(--color-red);
}

.ornament {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  max-width: 60%;
  width: 21rem;
  height: 9rem;
  background-color: var(--color-background-light);
  border-radius: 50%;
  z-index: -1;
}

/* Accessories */

.separator {
  margin: 4rem auto 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 42rem;
  height: 42rem;
  background-image: radial-gradient(
    #25252528,
    #000000,
    #25252528,
    #25252510,
    #25252500
  );
  opacity: 0.1;
  z-index: -1;
}

.separator img {
  margin: auto;
  filter: grayscale(1);
  max-width: 100%;
  opacity: 0.7;
}

/* Footer */

.footer {
  margin: 6rem auto 1rem;
  position: relative;
  width: 80vw;
  max-width: 42rem;
  height: 0;
  font-family: "Arial Narrow", Arial;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-bottom: 48rem;
  border-radius: 1rem;
  background-image: url("../Mook Detective Conan Secret Archives Kaito Kid.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: default;
}

.footer:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-900);
  opacity: 0.3;
}

.social-icons {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.footer:hover .social-icons {
  opacity: 1;
}

.social-icons a {
  margin: 1rem;
  padding: 3px 2px 0 5px;
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 600;
  transition: transform 0.3s ease;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 1rem;
}

.social-icons a:hover {
  border-top: 2px solid #828288fa;
  border-left: 2px solid #828288fa;
}

.footer h3 a {
  position: absolute;
  top: 2rem;
  width: 100%;
  font-size: 3.2rem;
  font-weight: 900;
  text-align: center;
}

.footer p {
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--color-text);
}

.footer a:hover span {
  color: #0b808dfb;
}

.footer a:hover {
  color: #828288fa;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer:hover p {
  bottom: 1.5rem;
  animation: fadein 0.5s ease;
}

.footer:hover .social-icons {
  bottom: 5.5rem;
  transform: translate(-50%, 50%);
  animation: upmoving 0.3s ease;
}

@keyframes upmoving {
  0% {
    bottom: -5rem;
  }
  100% {
    bottom: 6rem;
  }
}

.foot {
  margin: 3rem auto 0;
  max-width: 94rem;
  padding: 1rem 3.2rem;
  position: relative;
}

.foot-menu {
  background-color: var(--color-background-100);
  color: var(--color-background-light);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Arial Narrow", Arial;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3rem;
  cursor: default;
}

.foot-menu .left-menu {
  display: flex;
  justify-content: space-between;
  gap: 6.67rem;
  align-items: flex-end;
}

.foot-menu .left-menu h2 {
  letter-spacing: 1.45px;
}

.foot-menu .left-menu a {
  color: var(--color-background-light);
  text-decoration: none;
  font-weight: 900;
}

.foot-menu .left-menu p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.foot-menu .left-menu a:hover,
.foot-menu .left-menu p:hover {
  color: var(--color-primary-light);
}

.foot-menu .left-menu .fs:hover {
  color: var(--color-red);
}

.foot-menu .left-menu .afa:hover {
  color: var(--color-orange);
}

.foot-menu .right-menu input {
  width: 22rem;
  max-width: 100%;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  font-family: "Arial Narrow", Arial;
  font-weight: 600;
  letter-spacing: 1px;
  outline-style: none;
  background-color: #767676;
  color: var(--color-background-100);
  border: none;
  border-radius: 0.5rem;
  opacity: 0.55;
}

.foot-menu .right-menu {
  text-align: right;
}

.foot-menu .right-menu button {
  margin-left: 0.1rem;
  border: none;
  background-color: transparent;
  filter: grayscale(1) brightness(1.3);
  transform: scale(1.1);
  cursor: pointer;
}

.foot-menu img {
  position: absolute;
  right: -7.5rem;
  top: -3.5rem;
  transform: scale(0.45);
  filter: grayscale(1) brightness(0.85);
  opacity: 0.935;
}

.gototop {
  position: fixed;
  bottom: 3.35rem;
  right: 0;
  z-index: 1000;
}

.gototop .container {
  width: 4.4rem;
  height: 4.4rem;
  padding: 1.1rem;
  box-shadow: 2rem 0 3rem var(--color-background-500);
  background-color: var(--color-background-100);
  border-radius: 1rem 0 0 1rem;
}

.gototop .container a {
  text-decoration: none;
  color: var(--color-background-light);
}

.gototop .container button {
  display: block;
  margin: auto;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-background-light);
  font-size: 1.4rem;
  font-weight: bold;
}

/* Media Query */

@media (max-width: 1264px) {
  .aside {
    background: transparent;
    backdrop-filter: unset;
    -webkit-backdrop-filter: none;
  }
}

@media (max-width: 1156px) {
  .aside {
    display: block;
    position: relative;
    background: #f0f0f825;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.25rem);
    padding: 0.5rem 1.5rem;
    margin: auto;
    margin-bottom: 2.4rem;
    width: 80vw;
    max-width: 42rem;
    max-height: 55rem;
    height: 50rem;
    top: 2.8rem;
  }

  .aside.left,
  .aside.top-left,
  .aside.bottom-left {
    border-radius: 1rem;
    max-width: 42rem;
  }

  .aside.right,
  .aside.top-right,
  .aside.bottom-right {
    border-radius: 1rem;
    max-width: 42rem;
    margin-bottom: 8rem;
  }

  .aside.right {
    margin-bottom: 2.4rem;
  }

  .aside.top-left,
  .aside.top-right {
    top: -2.8rem;
    height: 18.5rem;
  }

  .aside.bottom-left,
  .aside.bottom-right {
    top: 2.8rem;
  }

  .channels {
    width: 100%;
    justify-content: center;
  }

  .channels img {
    filter: grayscale(1) contrast(1.1) blur(0);
  }

  .channels.stream,
  .channels.tv {
    justify-content: center;
  }

  .closing {
    display: none;
  }

  .check,
  .magazine,
  .genre-all,
  .genre-list,
  .news-all,
  .tabloid-all {
    width: 100%;
  }

  .genre-all,
  .genre-list {
    min-height: 37.25rem;
    max-height: 37.25rem;
  }

  .genre-all {
    justify-content: center;
  }

  .genre-list-overview {
    width: 100%;
  }

  .silhouette-off {
    display: none;
  }

  .news-all {
    min-height: 19rem;
    max-height: 19rem;
  }

  .tabloid-all {
    min-height: 26.2rem;
    max-height: 26.2rem;
  }

  .tabloid-all .poster {
    filter: grayscale(1) brightness(0.75) contrast(1.25) blur(0px);
  }
}

@media (max-width: 1024px) {
  .loading-page h1 {
    font-size: 6rem;
    letter-spacing: 2px;
  }
}

@media (max-width: 926px) {
  .loading-page h1 {
    font-size: 5rem;
    letter-spacing: 1.85px;
  }

  .foot-menu .left-menu {
    display: block;
  }

  .foot-menu .left-menu .rss,
  .foot-menu .left-menu .sitemap,
  .foot-menu img {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 63%;
  }

  .loading-page h1 {
    font-size: 3.8rem;
    letter-spacing: 1.15px;
  }

  .about-container {
    grid-template-areas:
      "logo logo logo logo"
      "anime-app-version anime-app-version anime-app-version anime-app-version"
      "title title license license"
      "rights rights privacy-policy privacy-policy"
      "trademarks trademarks trademarks trademarks";
    font-size: 1.2rem;
  }

  .about-container .logo {
    position: absolute;
    transform: translateY(10rem) scale(1.5);
  }

  .main,
  .main-legacy {
    display: block;
    margin-top: 2.4rem;
    max-height: 43rem;
  }

  .main .box,
  .main-legacy .box {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    min-width: 80vw;
    min-height: 6rem;
    max-height: 42rem;
  }

  .list h3 {
    font-size: 1.7rem;
  }

  .list.list-anime p {
    font-size: 1.2rem;
  }

  .details-icon {
    min-width: 80vw;
    max-height: 55rem;
  }

  .details img {
    max-width: 145px;
  }

  .details p:nth-child(1) {
    font-size: 12px;
  }

  .details p:nth-child(1)::first-letter {
    margin: 0 10px -10px 33px;
  }

  .details-overview h2 {
    font-size: 1.7rem;
  }

  .details-overview small {
    font-size: 1.2rem;
  }

  .box-separator {
    min-width: 80vw;
    height: 42rem;
  }

  .choice,
  .love,
  .featured,
  .winter,
  .winter-all,
  .choose,
  .category,
  .category-all,
  .masterpiece,
  .studio,
  .studio-all {
    min-width: 80vw;
  }

  .separator img {
    max-width: 80%;
  }

  .footer h3 a {
    font-size: 3rem;
  }

  .foot-menu {
    display: block;
  }

  .foot-menu .left-menu h2,
  .foot-menu .left-menu small {
    display: block;
    text-align: center;
  }

  .foot-menu .right-menu {
    margin-top: 4rem;
    text-align: center;
  }

  .foot-menu .right-menu button {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }

  .foot-menu img {
    display: none;
  }
}
